%div{:class => "large-9 columns", :role => "content"}
  %h3{:class=>"text-right"} Turmas Abertas
  %hr
  %ul{:class=>"small-block-grid-2 large-block-grid-2"}
    - Curso.abertos.each do |curso| 
      = render :partial => "curso", :locals => {:curso => curso}
  %hr
  %h3{:class=>"text-right"} Próximas Turmas
  %hr
  %ul{:class=>"small-block-grid-2 large-block-grid-2"}
    - Curso.proximos.each do |curso| 
      = render :partial => "curso", :locals => {:curso => curso}
= render :partial => "partials/sidebar"