%footer{:class => "row"}
  %div{:class => "large-12 columns"}
    %hr
    .row
      %div{:class => "large-6 columns"}
        %p="&copy; Copyright BrunoCatao.com, todos os direitos reservados.".html_safe
      %div{:class => "large-6 columns"}