<div class="large-9 columns" role="content">
  <h3 class="text-right"><%= @curso.nome %></h3>
  <p><%= @curso.descricao %></p>
  <hr/>
  <h4>Aulas:</h4>
  <p>Ainda não há aulas cadastradas</p>
  <hr/>
  <h4>Hangouts:</h4>
  <p>Ainda não há hangouts cadastrados</p>
  <hr/>
  <h4>Material de Apoio:</h4>
  <p>Ainda não há materiais de apoio cadastrados</p>
  <hr/>
  <h4>Fórum:</h4>
</div>
<aside class="large-3 columns panel">
  <h5>Sessões</h5>
  <ul class="side-nav">
    <li><a href="#">Aulas</a></li>
    <li><a href="#">Hangouts</a></li>
    <li><a href="#">Material de Apoio</a></li>
    <li><a href="#">Forum</a></li>
  </ul>
</aside>
