/ Principal
%div{:class=>"large-9 columns", :role=>"content"}
  %h3{:class=>"text-right"}= @curso.nome
  %p= @curso.descricao
  %hr
  %a{:name=>"aulas"}
  %h4 Aulas:
  %p Ainda não há aulas cadastradas
  %hr
  %a{:name=>"hangouts"}
  %h4 Hangouts:
  %p Ainda não há hangouts cadastrados
  %hr
  %a{:name=>"material_apoio"}
  %h4 Material de Apoio:
  %p Ainda não há materiais de apoio cadastrados
  %hr
  %a{:name=>"forum"}
  %h4 
    Fórum:
    = render :partial => "partials/disqus", :locals => { title: @curso.nome }
/ Painel lateral
= render :partial => "sidebar"